<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Site Metas -->
      <title>Smart Surveillance Box</title>
      <!-- Site Icons -->
      <link rel="shortcut icon" href="#" type="image/x-icon" />
      <link rel="apple-touch-icon" href="#" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css' ) }}/>
      <!-- Pogo Slider CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/pogo-slider.min.css' ) }} />
      <!-- Site CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' ) }} />
      <!-- Responsive CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/responsive.css' ) }} />
      <!-- Custom CSS -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/custom.css' ) }} />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="about" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
      <div class="wrapper">
      <div id="content">
         <!-- Start header -->
         <header class="top-header">
            <div class="container">
               <div class="row">
                  <div class="logo_main">
                     <a href='index.html'>
			<img src= {{ url_for('static', filename='images/my_logo_v3.png' ) }} />
		     </a>
                  </div>
                  <div class="full">
                     <div class="heading_main text_align_center">
                        <h2 class="margin-bottom_30"><strong class="small theme_color">Smart Surveillance Application</strong><br>Welcome to Raspberry Pi</h2>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- End header -->
         <!-- Start Banner -->       
         <!-- section -->
         <div class="section about_section layout_padding dash_bg">
            <div class="container">
               <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <a href={{ url_for("live_stream") }}>
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src={{ url_for('static', filename='images/camera.png' ) }} style="width: 45%; height: 45%;" />
                            <img class="default-none" src={{ url_for('static', filename='images/camera_w.png')}} style="width: 45%; height: 45%;"/>
                         </div>
                         <div class="full">
                            <h4>Live Stream</h4>
                         </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <a href={{ url_for("social_distance") }}>
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src={{ url_for('static', filename='images/social.png')}} style="width: 65%; height: 65%;" />
                            <img class="default-none" src={{ url_for('static', filename='images/social_w.png')}} style="width: 65%; height: 65%;" />
                         </div>
                         <div class="full">
                            <h4>Sociale Distance</h4>
                         </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <a href={{ url_for("facemask_detector") }}>
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src={{ url_for('static', filename='images/mask.png')}} style="width: 45%; height: 45%;" />
                            <img class="default-none" src={{ url_for('static', filename='images/mask_w.png')}} style="width: 45%; height: 45%;" />
                         </div>
                         <div class="full">
                            <h4>Facemask detection</h4>
                         </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                  <a href="#">
                     <div class="full feature_box">
                         <div class="full icon">
                            <img class="default-block" src={{ url_for('static', filename='images/icon_3.png')}}/>
                            <img class="default-none" src={{ url_for('static', filename='images/icon_3w.png')}} />
                         </div>
                         <div class="full">
                            <h4>Pass vaccinal QR</h4>
                         </div>
                     </div>
                  </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         <!-- section -->
         <div class="section about_section layout_padding padding_top_0">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center">
                           <h2 class="margin-bottom_30"><strong class="small theme_color">Smart Surveillance Application</strong><br>Description</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full">
                        <p>The Corona Virus Disease of 2019 or COVID-19 is a disease caused by a new strain of coronavirus. This new virus is linked to the same family of viruses as Severe Acute Respiratory Syndrome (SARS) and some common types of cold. The coronavirus spreads through direct contact with infected persons by coughing or sneezing. Infec-tions can also happen when touching surfaces contaminated with the virus and touch-ing eyes, nose or mouth.
                        <br>The concept of social distancing is very important to prevent infection. By standing further away from others, avoiding crowds and not touching. Regrettably, people around the globe are not conscious enough of the seriousness of COVID-19. They are ignoring social distancing protocol, thus helping to further spread of the virus.
                        <br>Our proposed prototype can be implemented in many places that require the re-spect of social distance. For instance, a classroom were students should keep distance, administrations, university corridors and common spaces, and others.</p>
                        <p><a href="https://www.researchgate.net/profile/Ikram_Ben_Abdel_Ouahab">See related papers HERE</a></p>
                      </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <div class="full text_align_center">
                        <img class="img-responsive" src={{ url_for('static', filename='images/preventions.jpg')}} style="width: 90%; height: 90%;"/>  
                      </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end section -->
         <div class="footer_bottom">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <p class="crp">©Copyrights 2022 designed by <a href="https://www.researchgate.net/profile/Ikram_Ben_Abdel_Ouahab">IKRAM Ben Abdel Ouahab</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src={{ url_for('static', filename='js/jquery.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/popper.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/bootstrap.min.js' ) }}></script>
      <!-- ALL PLUGINS -->
      <script src={{ url_for('static', filename='js/jquery.magnific-popup.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/jquery.pogo-slider.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/slider-index.js' ) }}></script>
      <script src={{ url_for('static', filename='js/smoothscroll.js' ) }}></script>
      <script src={{ url_for('static', filename='js/form-validator.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/contact-form-script.js' ) }}></script>
      <script src={{ url_for('static', filename='js/isotope.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/images-loded.min.js' ) }}></script>
      <script src={{ url_for('static', filename='js/custom.js' ) }}></script>
      <!-- End Google Map -->
      <script>
         $(document).ready(function() {
           $('#sidebarCollapse').on('click', function() {
             $('#sidebar, #content').toggleClass('active');
             $('.collapse.in').toggleClass('in');
             $('a[aria-expanded=true]').attr('aria-expanded', 'false');
           });
         });
      </script>
      <!-- google map js -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
      <!-- end google map js -->
   </body>
</html>
